button {
  pointer-events: auto;
  z-index: 10;
}
.edit-task, .update-task, .delete-task {
  position: relative;
  z-index: 10;
}
#scheduleOutput {
  z-index: 10;
}

.accordion-icon::after {
  content: "▼";
  display: inline-block;
  transition: transform 0.3s ease;
}
.accordion-opened .accordion-icon::after {
  transform: rotate(180deg);
}